<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../../../image/HDR.ico">
    <link rel="stylesheet" href="../../../../../../../style/style.css">
    <title>404</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <h1 class="red_aleart">ไม่พบข้อมูลผู้ใช้</h1>
        <h1 class="red_aleart">โปรดลองอีกครั้ง</h1>
        <h1 class="red_aleart">หรือติดต่อผู้ดูแลระบบ</h1>
        <form class="login-box" method="get" action="/">
            <button class="login-btn">ยืนยัน</button>
        </form>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>