<nav class="nav-bar">
    <div class="hdr-logo"><a href="/"><img src="../../../../image/logo.png"></a></div>
    <div class="title-container">
        <div class="main-title"><h1>ระบบจ่ายยาอัจฉริยะ</h1></div>
        <div class="sub-title"><p>ห้องพยาบาล โรงเรียนหางดงรัฐราษฎร์อุปถัมภ์ </p></div>
    </div>
</nav>