<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./../../../../public/image/HDR.ico">
    <link rel="stylesheet" href="../../../../style/style.css">
    <title>เลือกอาการ</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <div class="section-title"><h1>อาการ</h1></div>
        <div class="select-flex-left">
            <a href="/student_sign_in/headache" class="link-1">ปวดหัว</a>
            <a href="/student_sign_in/fever" class="link-1">มีไข้</a>
        </div>
        <div class="select-flex-right">
            <a href="/student_sign_in/men" class="link-1">ปวดประจำเดือน</a>
            <a href="/student_sign_in/diarrhea" class="link-1">ท้องเสีย</a>
        </div>
            <a href="/student_sign_in/urticaria" class="link-1">ลมพิษ/แพ้</a>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>