<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../../../../image/HDR.ico">
    <link rel="stylesheet" href="../../../../style/style.css">
    <title>ตรวจอาการปวดหัว</title>
</head>
<body>
    <%- include('nav') %>
    <div class="container">
        <div class="section-title">
            <h1>อาการ</h1>
            <p>ลมพิษ/แพ้</p>
        </div>
        <form class="login-box" action="/update" method="post">
            <input type="text" name="SendBy" value="รอครูอนุมัติ" hidden>
            <input type="text" name="Symptom" value="ลมพิษ/แพ้" hidden>
            <div class="sub-login-box">
                <div class="sub-sub-login-box">
                    <label for="Level">อายุ (ปี)</label>
                    <input type="text" name="Age" placeholder="ตัวอย่าง : 17" required>
                </div>
                <div class="sub-sub-login-box">
                    <label for="Number">น้ำหนัก (กก.)</label>
                    <input type="text" name="Weight" placeholder="ตัวอย่าง : 49" maxlength="5" required>
                </div>
            </div>
            <div class="main-login-box">
                <!-- <label for="StudentNumber">อุณหภูมิร่างกาย (องศาเซลเซียส) (*ถ้ามี)</label>
                <input type="text" name="Temp" placeholder="ตัวอย่าง : 36.6" maxlength="5" > -->
                <label for="StudentName">อาการที่พบ</label>
                <input type="text" name="Cause" placeholder="ตัวอย่าง : ปวดหัวเป็นไข้คล้ายจะเป็นลม" required>
            </div>
            <button class="login-btn">ยืนยัน</button>
        </form>
    </div>
    <footer class="footer">
    </footer>
</body>
</html>